// Settings Styles
.settingsContent {
  // width: 70%;
  padding:16px;
  height: 93%;
  overflow-y: scroll;
}
.settingsMain{
  width: 70%;
}
.setting-padding {
  padding: 8px 0px 24px;
  margin: 0;
}
  .setting-wrapper {
    border: 1px solid lightgrey;
    border-radius: 1rem;
    padding: 16px;
    margin: 0px 0px 32px;
    display: flex;
    flex-direction: row;
    .primary, .secondary {
      flex:1;
    }
    select {
      max-width: 250px;
    }
  }

  .settingTitle {
    font-weight: 900;
    color: #212529;
    margin-bottom: 4px;
    height: 24px;
  }
 
  .settingSubTitle {
    color: grey;
    font-size: 16px;
    margin: 0px 0px 8px;
  }

  .preTitle {
    font-weight: 500;
    color: #212529;
    margin-top: 8px;
  }

  .cke_chrome {
    border: 2px solid lightgrey !important;
}

.saveBtn {
  font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding: 10.5px 16px;
    margin: 8px 0;
    height: 40px;
    background-color: #0085ff;
    border-radius: 4px;
    color: #fff;
    border: 0;
    display: block;
    width: -moz-fit-content;
    width: fit-content;
}

.textEditorConfig {
  display: flex;
  flex-direction: row;
  .flexOne {
    flex:1;
    display: flex;
    a {
      padding-right: 16px;
      color: #000;
      display: flex;
      align-items: center;
      svg {
        margin-right: 8px;
      }
    }
  }
}

.mondayTab.nav-pills, .ticketCount {
  border-bottom: 1px solid #dfdfdf;
}

.mondayTab.nav-pills .nav-link {
  border-bottom:0px;
  padding: 16px;
}

.fieldFlex {
  display: flex;
  .fieldWrapper {
    display: flex;
    flex:1;
    flex-direction: column;
    border: 1px solid lightgrey;
    border-radius: 1rem;
    padding: 16px;
    .checkboxes {
      .form-check {
        padding-left: 0px;
        width: 25%;
        display: inline-flex;
        // overflow: hidden;
        padding-top: 8px;
        input {
          height: unset;
        }
        .form-check-label {
          margin: 0px;
        }
    }
    }
  }
  .fieldWrapperMLR {
    margin-left: 16px;
    margin-right: 16px;
  } 
}
.fieldWrapperMT {
  margin-top: 16px;
}

.mRight{
  margin-right: 8px
}

.mLeft{
  margin-left: 8px
}
