#layout {
  display: flex; // Flexbox definition
  overflow: hidden; // Disable scrolling on layout
  height: 100%;
}

#main {
  flex:1;
  border-right: 1px solid lightgray;
  display: flex;
  flex-direction: column;
}

#right {
  width: 64px;
  padding: 16px 0px;
}

/* right menu Ticket Details */
#right.open {
  width: 260px;
  display: flex;
  flex-direction: column;
}

#right .icon {  
  margin-top: 15px;
  margin-bottom: 16px;
  display: flex;
  align-self: center;
  justify-content: center;
  font-size: 48px;
  height: 24px;
  line-height: 17px;
  text-align: center; 
  user-select: none; 
  cursor: pointer;
  h5 {
  font-size: 16px;
  margin-bottom: 0px;
  line-height: 0;
  }
}

.updateCardStatusScroll {
  flex: 1;
  overflow-y: scroll;
    .stats {
box-shadow: 0 5px 10px 0 rgba(0,0,0,0.05);
border-radius: 8px;
padding:16px 16px;
margin: 16px;
}
}

#right.closed .updateCardStatusScroll,#right.closed .icon.closed h5, #right.closed .blackBtn {
  display: none;
}

#right.open .rightBtnWrapper {
  margin:16px 16px 0px;
}

#right.open .blackBtn {
  width: 100%;
}

#rightcardheading {
  margin: 24px 12px 12px 12px;
  border: none;
  border-bottom: 1px solid lightgray; 
  padding-bottom: 24px; 
  text-align: center;
}

#updatecard {
  margin: 16px 0px;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 8px;
  .creatorImgInfo{
    display: flex;
    margin-bottom: 16px;
    .img {
      margin-right: 16px;
    }
    .creatorName{
      color: #6a6b73;
      font-weight: 600;
    }
  }
  .detailsNType {
    color: #323338 !important;
    p{
      word-break: break-all;
    }
    img {
      max-width: 300px;
    }
  }
}
 
/*Css by Pritam */
.ticketDetailsTitleView {
  padding: 16px;
  border-bottom: 1px solid lightgray;
  display:flex;
  align-items: center;
 .nameSubheading{
   flex:1;
   margin:0px 16px;
   h4 {
     margin-bottom: 0px;
   }
  }
}


// .text-muted {
//   color: #9495a4 !important;
// }

// .ck-editor {
//   border: 1px solid rgba(0,0,0,.125) !important;
//   border-radius: 8px !important;
// }
// svg.attachFile path {
// stroke: rgb(43, 153, 255);
// }

.updateCardScroll {
  flex: 1;
  padding: 16px;
  overflow-y: scroll;
}




// .cke_chrome {
//   border: 1px solid #323338 !important;
// }

.blueBtn {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 10.5px 16px;
  height: 40px;
  background-color: #0085ff;
  border-radius: 4px;
  color: #fff;
  border: 0;
  display: block;
  width: fit-content;
}

.blueBtn:hover {
  text-decoration: none !important;
  color: #fff !important;
}

.tktDetailEdit {
  margin: 16px;
  .btnTxtConfig {
    display: flex;
  flex-direction: row;
  margin-top: 16px;
  .blackBtn {
    margin-right: 16px;
  }
  }
}
.textEditorConfig {
  display: flex;
  flex-direction: row;
  .flexOne {
    flex:1;
    display: flex;
    a {
      padding-right: 16px;
      color: #000;
      display: flex;
      align-items: center;
      svg {
        margin-right: 8px;
      }
    }
  }
}

.loadmoreBtn {
  width: fit-content;
  margin: 0 auto;
  img {
    width: 18px;
    margin-right: 4px;
  }
}