:root {
  --landscape-width: 33;
  --portrait-width: 80vw;
  --header-height: 6rem;
  --footer-height: 9.5rem;
  --secs: 0.4s;
}

body {
    min-height: calc(100vh - 20px);
    max-width: calc(100vw - 20px);
    margin: 4px;
    // overflow: hidden;
}

#layout {
  display: flex; // Flexbox definition
  overflow: hidden; // Disable scrolling on layout

  // Style in common for sidebars and main area:
  .header {
    position: relative;
    height: var(--header-height);
    .title { position: absolute; left: 0; right: 0; }
  }
  .content {
    overflow: auto;
    box-sizing: border-box;
    height: calc(100vh - var(--header-height) - var(--footer-height));
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .sidebar-content {
    overflow: auto;
    box-sizing: border-box;
    height: 100%;
    padding: 1rem;
  }
}

// Main area specific style:
#main { background: var(--bg-main); flex-grow: 1;
  .header { background: linear-gradient(to right, var(--bg-left), var(--bg-right));
    @media (orientation: landscape) {
      .title { transition: left var(--secs), right var(--secs);
        &.right-closed { right: var(--header-height); }
      }
    }
  }
}

#right { transition: width var(--secs); width: 0;
  @media (orientation: landscape) {
    &.open { width: calc(1% * var(--landscape-width)); }
  }
  .icon { position: absolute; z-index: 10; margin-top: -16px;
    width: var(--header-height); height: var(--header-height);
    line-height: var(--header-height); font-size: var(--header-height);
    text-align: center; user-select: none; cursor: pointer;
  }
  .sidebar { transition: transform var(--secs);
    @media (orientation: portrait) { width: var(--portrait-width); }
    @media (orientation: landscape) { width: calc(1vw * var(--landscape-width)); }
  }
}

#right { .icon { right: 0; }
  .sidebar { background: var(--bg-right);
    @media (orientation: portrait) {
      &.open { transform: translateX(-100%); }
    }
  }
}

#rightbar {
  height: 100vh;
  border: none;
  border-left: 1px solid rgba(0,0,0,.125);
  margin-left: 8px;
}

#rightcardheading {
  margin: 24px 12px 12px 12px;
  border: none;
  border-bottom: 1px solid lightgray; 
  padding-bottom: 24px; 
  text-align: center;
}

#updatecard {
  margin: 0px 0px 16px 8px;
  border-top-width: 2px; 
  border-top-style: solid;
}

a > img {
  margin-right: 1em;
}

// Settings Styles
.subtext {
  color: grey;
}
.setting-wrapper {
  border: 2px solid lightgrey;
  border-radius: 1rem;

}
.setting-padding {
  margin: 1rem;
  padding: 1rem;
}

// Utility classes
.flex {
  display: flex;
}
.bold {
 font-weight: bold;
 margin-bottom: 1rem;
}

