#layout {
  display: flex; // Flexbox definition
  overflow: hidden; // Disable scrolling on layout
}

#main {
  flex:1;
}

#right { transition: width var(--secs); width: 142px;
  @media (orientation: landscape) {
    &.open { width: 350px;    display: flex;
      flex-direction: column; }
  }
  .icon {  
    margin-top: 30px;
    display: flex;
    align-self: center;
    justify-content: center;
    font-size: 48px;
    height: 24px;
    line-height: 17px;
    text-align: center; 
    user-select: none; 
    cursor: pointer;
    h5 {
    font-size: 16px;
    margin-bottom: 0px;
    line-height: 1.5;
    }
  }
}

#rightbar {
  flex:1;
  .stats {
box-shadow: 0 15px 50px 0 rgba(0,0,0,0.05);
border-radius: 8px;
padding:8px;
margin-bottom: 16px;
.statsInfo {
  color:#565865;
  font-size: 14px;
  margin-top: 8px;
}
}
.header {
  display: flex;
  justify-content: center;
    align-items: center;
    margin: 14px 0px 28px;
  .drawerIcon {
    font-size: 48px;
    height: 24px;
    line-height: 17px;
  }
  .title {
    margin-bottom: 0px;
  }
}
}

#rightcardheading {
  margin: 24px 12px 12px 12px;
  border: none;
  border-bottom: 1px solid lightgray; 
  padding-bottom: 24px; 
  text-align: center;
}

#updatecard {
  margin: 16px 0px;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 8px;
  .creatorImgInfo{
    display: flex;
    margin-bottom: 16px;
    .img {
      margin-right: 16px;
    }
    .creatorName{
      color: #6a6b73;
      font-weight: 600;
    }
  }
  .detailsNType {
    color: #323338 !important;
  }
}
 
/*Css by Pritam */
.ticketDetailsTitleView {
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 32px;
  border-bottom: 1px solid lightgray;
  display:flex;
  align-items: center;
 .nameSubheading{
   flex:1;
   margin:0px 16px;
   h4 {
     margin-bottom: 0px;
   }
  }
}


.text-muted {
  color: #9495a4 !important;
}

.ck-editor {
  border: 1px solid rgba(0,0,0,.125) !important;
  border-radius: 8px !important;
}
svg.attachFile path {
stroke: rgb(43, 153, 255);
}

.updateCardScroll {
  height: 50vh;
  overflow-y: scroll;
}


.updateCardStatusScroll {
  height: 95vh;
  overflow-y: scroll;
  padding: 16px;
}

#right.closed #rightbar,#right.closed .icon.closed h5 {
  display: none;
}

.cke_chrome {
  border: 1px solid #323338 !important;
}