@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  margin: 0;
  font-family: "Roboto";
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-component {
  flex:1;
  display:flex;
  flex-direction: column;
}

.btn {
  display: inline-block;
  font-weight: bold;
  font-family: 'Roboto';
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 0rem 1.5rem;
  font-size: 1rem;
  line-height: 1.25;
  height: 2rem;
  border-radius: 15rem;
  transition: padding-left 0.35s cubic-bezier(0.19, 1, 0.22, 1), padding-right 0.35s cubic-bezier(0.19, 1, 0.22, 1), color 0.1s ease-in-out, background-color 0.1s ease-in-out, border-color 0.1s ease-in-out;
}

.btn-primary {
  outline: none;
  color: #fff;
  background-color: #0085ff;
  border-color: #0085ff;
  box-shadow: none;
}

.btn-secondary {
  outline: none;
  color: #fff;
  background-color: #676879;
  border-color: #676879;
  box-shadow: none;
}

button:disabled {
  background-color: #e2e6ec;
  border-color: #e2e6ec;
  color: #666776;
}

.status-box {
  height: 40px;
  max-width: 140px;
  background-color: #c4c4c4;
  color: #fff;
  text-align: center;
  padding: 7px;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.list-card {
  margin: 24px;
  border-width: 2px;
}

/* .pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
}
.pagination > .active > a{
  background-color: #0085ff ;
  border-color: #0085ff ;
  color: #fff;
}
.pagination > li > a{
  border: 1px solid #0085ff ;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
  background-color: #0085ff ;
  border-color: #0085ff;
  outline: none ;
}
.pagination > li > a, .pagination > li > span{
  color: #0085ff
}
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
  border-radius: unset
} */

.mondayTab.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  color: #676879;
  background-color: transparent;
  border-bottom: 2px solid #0084ff;
  border-radius: 0;
}

.mondayTab.nav-pills .nav-link {
  border-radius: 0px;
  border-bottom: 1px solid #dfdfdf;
  margin-left: 0px;
  color: #676879;
}

/*Clean Css Pritam*/

.blueBtn {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 10.5px 16px;
  height: 40px;
  background-color: #0085ff;
  border-radius: 4px;
  color: #fff;
  border: 0;
  display: block;
  width: fit-content;
}

.blueBtn:hover {
  text-decoration: none !important;
  color: #fff !important;
}

.cancelBtn {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 10.5px 16px;
  height: 40px;
  background-color: #fff;
  border-radius: 4px;
  color: #000;
  border: 0;
  display: block;
  width: fit-content;
}

.cancelBtn:hover {
  text-decoration: none;
  background-color: #f8f9fa;
  color: #000;
}

.viewWrapper {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
}

.blackTxt {
  color: #000;
}

.viewId {
color: lightgray;
position: absolute;
top: 46px;
}

.mainWrapper {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow-y: hidden;
}

.blackBtn {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 0px 16px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #C5C7D0 !important;
  border-radius: 4px;
  color: #323338;
  border: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blackBtn:hover {
  text-decoration: none;
  color: #323338;
}

.blackBtn:focus {
  outline: none;
}

.txtEditor .cke_chrome{
  border: 1px solid #323338 !important;
  border-radius: 8px;
  padding: 2px;
}

.txtEditor .cke_top {
  height: fit-content !important;
}

.txtEditor .cke_contents {
  height: 100px !important;
}

.txtEditor .cke_bottom {
  height: fit-content !important;
}

/* Ticket List*/
.ticketTab {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dfdfdf;
}

.ticketTab .mondayTab{
  flex: 1;
}

.ticketTab .mondayTab.nav-pills, .ticketTab .ticketCount {
  border: 0px;
}

.ticketTab .ticketCount {
  color: #9495a4;
  font-size: 12px;
  padding-right: 16px;
}

.ticketListTitle {
  margin: 0px !important;
  border-bottom: 1px solid #dfdfdf;
  padding: 0px 32px;
}

.ticketList {
  flex:1;
  margin: 0px !important;
  overflow-y: auto;
  padding: 0px 16px;
}

.ticketList .tktBoothCV {
  align-items: center;
  border: 1px solid #e8e8e8;
  padding-top: 16px;
  padding-bottom: 16px;
  margin: 16px 0px;
  border-radius: 8px;
}

.ticketListTitle .itemTitle{
color: #9495a4;
    font-weight: 700;
    padding-top: 16px;
    padding-bottom: 16px;
}

.ticketList .tktBoothCV  .tName{
  color: #393A40;
  display: block;
  font-size: 16px;
}
.ticketList .tktBoothCV .tUrl, .ticketList .tktBoothCV .createdDate, .ticketList .tktBoothCV .viewId {
  color: #727384;
  display: block;
  font-size: 14px;
}

.ticketList .tktBoothCV .viewBtn {
  color: #9495a4;
  display: block;
}


.tLPagination {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  border-top: 1px solid #ccc;
  text-align: center;
  display: flex;
}

.tLPagination .pagination {
  width: fit-content;
  margin: 0 auto;
}

.tLPagination .pagination a{
  color: #000;
  text-decoration: none;
  margin: 16px 8px;
font-size: 16px;
}

.tLPagination .pagination .active a{
  color: #0085ff;
}

.viewTkt {
  text-align: right;
}

.viewTkt .blueBtn{
  display: inline-block;
}
/* Ticket List End*/