@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  margin: 0;
  font-family: "Roboto";
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-component {
  padding-left: 240px;
}

.sidenav-custom {
  height: 100%;
  position: fixed; 
  z-index: 1
}

.btn {
  display: inline-block;
  font-weight: bold;
  font-family: 'Roboto';
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 0rem 1.5rem;
  font-size: 1rem;
  line-height: 1.25;
  height: 2rem;
  border-radius: 15rem;
  transition: padding-left 0.35s cubic-bezier(0.19, 1, 0.22, 1), padding-right 0.35s cubic-bezier(0.19, 1, 0.22, 1), color 0.1s ease-in-out, background-color 0.1s ease-in-out, border-color 0.1s ease-in-out;
}

.btn-primary {
  outline: none;
  color: #fff;
  background-color: #0085ff;
  border-color: #0085ff;
  box-shadow: none;
}

.btn-secondary {
  outline: none;
  color: #fff;
  background-color: #676879;
  border-color: #676879;
  box-shadow: none;
}

button:disabled {
  background-color: #e2e6ec;
  border-color: #e2e6ec;
  color: #666776;
}

.status-box {
  height: 40px;
  max-width: 140px;
  background-color: #c4c4c4;
  color: #fff;
  text-align: center;
  padding: 7px;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.list-card {
  margin: 24px;
  border-width: 2px;
}

.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
}
.pagination > .active > a{
  background-color: #0085ff ;
  border-color: #0085ff ;
  color: #fff;
}
.pagination > li > a{
  border: 1px solid #0085ff ;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
  background-color: #0085ff ;
  border-color: #0085ff;
  outline: none ;
}
.pagination > li > a, .pagination > li > span{
  color: #0085ff
}
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
  border-radius: unset
}

/* --------- EDITOR STYLES  ---------------------------------------------------------------------------------------- */
.ck-toolbar_grouping {
	border-top-left-radius: 10px !important;
	border-top-right-radius: 10px !important;
	border-top: 0px !important;
	border-left: 0px !important;
	border-right: 0px !important;
	border-bottom: 1px solid #d0d2d9 !important;
	background-color: #fff !important;
}

.ck-content {
	border-bottom-left-radius: 10px !important;
	border-bottom-right-radius: 10px !important;
	border: 0px !important;
}

.ck-editor {
	border: 1px solid #bb89e5 !important;
	border-radius: 10px !important;
}

.editor__editable,
/* Classic build. */
main .ck-editor[role='application'] .ck.ck-content,
/* Decoupled document build. */
.ck.editor__editable[role='textbox'],
.ck.ck-editor__editable[role='textbox'],
/* Inline & Balloon build. */
.ck.editor[role='textbox'] {
	width: 100%;
	background: #fff;
	font-size: 1em;
	line-height: 1.6em;
	min-height: var(--ck-sample-editor-min-height);
	padding: 1.5em 2em;
}

.ck.ck-editor__editable {
	background: #fff;
	border: 1px solid hsl(0, 0%, 70%);
	width: 100%;
}

.ck.ck-editor {
	/* To enable toolbar wrapping. */
	width: 100%;
	overflow-x: hidden;
}

/* Because of sidebar `position: relative`, Edge is overriding the outline of a focused editor. */
.ck.ck-editor__editable {
	position: relative;
	z-index: 10;
}

.mondayTab.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  color: #676879;
  background-color: transparent;
  border-bottom: 2px solid #0084ff;
  border-radius: 0;
}

.mondayTab.nav-pills .nav-link {
  border-radius: 0px;
  border-bottom: 1px solid #dfdfdf;
  margin-left: 0px;
  color: #676879;
}

.mondayTab.nav-pills , .ticketCount{
  flex:1;
}

.tktBoothCV {
  border: 1px solid #e7e9ee;
  padding: 32px 16px;
  margin-bottom: 16px;
  border-radius: 8px;
}

.tktBoothTitle {
  padding: 16px;
  border-radius: 8px;
  margin-top: 16px;
}

.viewBtn {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 10.5px 16px;
  height: 40px;
  background-color: #0085ff;
  border-radius: 4px;
  color: #fff;
  border: 0;
  display: block;
  width: fit-content;
}

.viewBtn:hover {
  text-decoration: none;
  color: #fff;
}

.viewWrapper {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
}

.blackTxt {
  color: #000;
}

.viewId {
color: lightgray;
position: absolute;
top: 46px;
}

.blackBtn {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 10.5px 16px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #C5C7D0 !important;
  border-radius: 4px;
  color: #323338;
  border: 0;
  display: block;
  width: fit-content;
}

.blackBtn:hover {
  text-decoration: none;
  color: #323338;
}