.sidenav---sidenav---_2tBP {
  padding: 16px 16px;
  -webkit-transition: min-width 0.2s;
  -moz-transition: min-width 0.2s;
  -o-transition: min-width 0.2s;
  -ms-transition: min-width 0.2s;
  transition: min-width 0.2s;
  border-right: 1px solid #e8e7e7;
  box-shadow: 1px 0 1px 0px #f3f3f3;
}
.sidenav---sidenav---_2tBP.sidenav---collapsed---LQDEv .sidenav---sidenav-nav---3tvij .sidenav---sidenav-navitem---uwIJ- .sidenav---sidenav-subnav---1EN61 {
  display: none;
}
.sidenav---sidenav---_2tBP.sidenav---collapsed---LQDEv .sidenav---sidenav-nav---3tvij .sidenav---sidenav-navitem---uwIJ-:hover > .sidenav---sidenav-subnav---1EN61 {
  display: block;
}
.sidenav---sidenav---_2tBP.sidenav---expanded---1KdUL {
  /* min-width: 150px; */
  display: flex;
  flex-direction: column;
}

.sidenav---sidenav-nav---3tvij.sidenav---expanded---1KdUL, .sidenav---sidenav-nav---3tvij{
  flex:1;
  padding: 16px 0px;
}

.custNavItem {
  display:flex;
  margin: 10px 0px;
  padding: 8px 16px;
  align-items: center;
  height: 40px;
  cursor: pointer;
}

.custNavItem img{
  height: 20px;
}

.custNavItem  .navTitle {
  font-size: 18px;
  font-weight: 300;
  color: black;
  margin-left: 24px;
}

.sidenav---sidenav-navitem---uwIJ-.sidenav---selected---1EK3y.sidenav---highlighted---oUx9u {
  background: #DFF0FF;
  border-radius: 8px;
}

.sidenav---sidenav---_2tBP.sidenav---collapsed---LQDEv .navTitle {
  display: none;
}

.toggleBtn.sidenav---sidenav-toggle---1KRjR span {
  display: none;
}
.toggleBtn{
display: flex;
background: transparent;
border: none;
/* margin: 0px auto;
margin-bottom: 20px;
padding: 0px; */
align-items: center;
padding: 0px;
margin: 0 auto;
}

.toggleBtn:focus{
  outline: none;
}

.toggleBtn img{
  height: 28px;
}

.toggleBtn .toggleTitle{
  font-size: 24px;
  font-weight: 700;
  margin: 0px 28px;
}

.toggleBtn .toggleSupport{
  font-size: 16;
  font-weight: 300;
  color:#0085FF;
}

.sidenav---sidenav---_2tBP.sidenav---collapsed---LQDEv .toggleBtn .toggleTitle, .sidenav---sidenav---_2tBP.sidenav---collapsed---LQDEv .toggleBtn .toggleSupport{
  display: none;
}

.feedbackBtn {
  display: flex;
  width: 100% !important;
}

.feedbackBtn img{
  height: 23px;
    margin-right: 8px;
}

.sidenav---sidenav---_2tBP.sidenav---collapsed---LQDEv  .feedbackBtn {
  display: none;
}