/* .container {
  margin-top: 40px;
}
.show-grid {
  margin-top: 20px;
}

.card-link {
  padding: 10px;
  color: #565353;
  font-size: 14px;
}

.card-title {
  color: gray;
  font-size: 18px;
}
.card-text {
  font-size: 12px;
}

.column-div {
  padding-left: 20px;
}

.card-body {
  margin: 0;
  padding: 14px;
}

.head {
  margin-bottom: 20px;
}

.btn-primary {
  margin-top: 10px;
}
.btn-response {
  margin-right: 10px;
  color: #676879;
  font-size: 20px;
  font-weight: 40;
  border-bottom: 2px solid grey;
}

.btn-response-active {
  margin-right: 10px;
  color: #676879;
  font-size: 20px;
  font-weight: 40;
  border-bottom: 2px solid #0085ff;
}

.create-btn {
  margin-right: 40px;
  float: right;
  font-weight: 500;
  font-size: 16px;
}

.icon-btn {
  float: right;
}

.text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.response-card {
  min-height: 170px;
  max-height: 170px;
} */

/* .mondayTab.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  color: #676879;
  background-color: transparent;
  border-bottom: 2px solid #0084ff;
  border-radius: 0;
}

.mondayTab.nav-pills .nav-link {
  border-radius: 0px;
  border-bottom: 1px solid #dfdfdf;
  margin-left: 0px;
  color: #676879;
} */

.navBar {
  display:flex;
  align-items: center;
  border-bottom: 1px solid #dfdfdf;
  padding-right: 16px;
}

.navBar .mondayTab {
  flex:1;
  border-bottom: 0px;
}

.cardView {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  cursor: pointer;
}

.cardView .title {
  font-size: 24px;
  padding: 0px;
}

.cardView .url {
  margin-top: 8px;
  margin-bottom: 16px;
}

.cardView .url p{ 
  margin:0px;
    white-space: nowrap;
    max-width: 250px;
    overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.cardView .bottomView{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cardView .bottomView .date{
  flex: 1;
  margin-left: 16px;
  margin-right: 16px;
}

.emptyWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.emptyWrapper img{
  height: 64px;
}

.emptyWrapper .emptyMessage{
  margin: 16px 0px;
  color: #676879;
}